<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>

    <div>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/jobs">Jobs</a>
      <a href="/galery">Galery</a>
    </div>

    <p>
      Henry William Dalgliesh Cavill nació en Saint Helier, en la isla de Jersey
      (Islas del Canal), dependencia de la corona británica.1​ Es hijo de Colin
      Cavill, un corredor de bolsa y Marianne Dalgliesh, una secretaria de
      banco. Es el cuarto de cinco hermanos; tiene tres hermanos mayores
      llamados Piers, Nick y Simon, además de uno menor llamado Charlie.2​
      Durante su niñez estudió en la escuela privada St. Michael's Preparatory
      School ubicada en Jersey y luego fue inscrito en la escuela pública Stowe
      School, que es un internado ubicado en la ciudad de Buckingham.3​ Durante
      sus años de educación escolar participó en numerosas obras de teatro en su
      escuela interpretando a personajes como Oberón y Hamlet.4​ Ha declarado
      que si no se hubiese dedicado a la actuación, posiblemente se hubiera
      inscrito al ejército, ya que siempre le ha llamado la atención, o, si no,
      hubiese estudiado Egiptología.
    </p>

  </body>
</html>
