<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Henry William Dalgliesh Cavill (Saint Helier; 5 de mayo de 1983) es un actor británico. Inició su carrera profesional con la película Laguna (2001) y durante los años posteriores desarrolló papeles secundarios</p>
    <p>Tras su salida de The Tudors, protagonizó su primer éxito en taquilla Immortals (2011), y posteriormente adquirió fama a nivel mundial interpretando a Superman en las películas El hombre de acero (2013), Batman v Superman: Dawn of Justice (2016), Justice League (2017) y Zack Snyder's Justice League (2021).</p>
    <p>En 2019, protagonizó la serie The Witcher con el personaje de Geralt of Rivia,</p>




</body>
</html>